body {
    font: 10px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.point {
    stroke: #000;
}

form {
    margin-top: 25px;
    text-align: center;
}
.slider {
    width: 80%;
    display: block;
    margin: 0 auto;
}
output {
    display: block;
    margin: 25px auto;
    font-size:2em;
}